# Functions in Python

Block of statements that perform a specific task.

Def func_name(param1,param2,..):
    return value

In [4]:
# function definition
def cal_sum(a,b): # parameters
    return a+b

sum=cal_sum(5,2)   # function call and arguments
print(sum)

7

In [8]:
def print_hello():
    print("hello")

output=print_hello()
print(output)  # none

hello
None

## function type in python

In [11]:
# 1. Built-in Functions
#     print(),len(),type(),range()

In [13]:
# 2. User defined Functions

In [55]:
# prime No. 
def prime(num):
    if(num>1):
        x=0
        for i in range(2,num):
            if(num%i==0):
                x=1
                
        if(x==0):
            print("prime")

        else:
            print("not prime")
    else:
        print("not prime")
num=int(input())
prime(num)

 17

prime

In [65]:
def pattern(n):
    x=68
    for i in range(1,n):
        for k in range(i,n):
            print(chr(x),end=" ")
            x=x+1
    
        print("\n")

n=6
pattern(n)

D E F G H

I J K L

M N O

P Q

R

### L.C.M

In [76]:
def lcm(a,b):
    if a>b:
        greatest=a
    else:
        greatest=b

    while(True):
        if(greatest%a==0 and   greatest%b==0):
            print("LCM is :" , greatest)
            break
        greatest+=1

lcm(4,3)

LCM is : 12

## H.C.F or G.C.D

In [92]:
def hcf(x,y):
    if(x>y):
        max=x
    else:
        max=y
    for i in range(2,max+1):
        if(x%i==0 and y%i==0):
            hcf=i
    print("hcf is :",hcf)

hcf(50,100)

hcf is : 50

## Default Parameters

Assigning a default value to parameter, which is used when no argument is passed.

In [102]:
def func(a,b=2):
    print(a*b)  # default argument hmesha last me diya jata hai

func(3)

6

In [104]:
def func(a,b=2):
    print(a*b)

func(3,4)

12

### Q. WAF to print the length of a list. ( list is the parameter)

In [107]:
city=["jaipur","goa","ajmer","sikar","delhi"]
marks=[25,65,25,21,656,2151,124,12564]
def list_len(list):
    print(len(list))

list_len(city)
list_len(marks)

5
8

### Q. WAF to print the elements of a list in a single line. ( list is the parameter)

In [114]:
city=["jaipur","goa","ajmer","sikar","delhi"]
marks=[25,65,25,21,656,2151,124,12564]
def list_len(list):
    for item in list:
        print(item,end=" ")

list_len(city)

jaipur goa ajmer sikar delhi

### Q. WAF to find the factorial of n. (n is the parameter)

In [9]:
def fact(n):
    i=1
    fac=1
    while(i<=n):
        fac=fac*i
        i=i+1
        
    print(fac)


fact(6)

720

### Q. WAF to convert USD to INR.

In [12]:
def converter(usd_val):
    inr_val=usd_val*83
    print(usd_val,"USD = ",inr_val,"INR")

converter(25)

25 USD =  2075 INR

# Types of argument passing

## 1. Required argument

In [22]:
def employ(eid,name,salary):
    print(f"EID:{eid} \nname:{name} \nsalary:{salary}")

employ(25,"rahul",7500)

EID:25
name:rahul
salary:7500

## 2. Positional argument

In [25]:
def employ(eid,name,salary):
    print(f"EID:{eid} \nname:{name} \nsalary:{salary}")

employ(25,7500,"rahul")

EID:25
name:7500
salary:rahul

## 3. Keyword+positional

In [32]:
def employ(eid,name,salary):
    print(f"EID:{eid} \nname:{name} \nsalary:{salary}")

employ(25,salary="rahul",name=7500)

EID:25
name:7500
salary:rahul

In [42]:
def employ(eid,name,salary):
    print(f"EID:{eid} \nname:{name} \nsalary:{salary}")

employ(eid="rahul",name=7500,salary=10000)

EID:rahul
name:7500
salary:10000

## 4. Default Arguments

In [45]:
def employ(eid,name,salary=15000):
    print(f"EID:{eid} \nname:{name} \nsalary:{salary}")

employ(25,"rahul")

EID:25
name:rahul
salary:15000

In [47]:
def employ(eid,name,salary=15000):
    print(f"EID:{eid} \nname:{name} \nsalary:{salary}")

employ(25,"rahul",25000)

EID:25
name:rahul
salary:25000

## 5. Variable Length Argument /  Args Argument

In [56]:
def facebook(*data):
    print(data,type(data))
facebook("rahul",100,"hey")
facebook("jatin","hello")
facebook()

('rahul', 100, 'hey') <class 'tuple'>
('jatin', 'hello') <class 'tuple'>
() <class 'tuple'>

## 6. Keyword Variable Length & Kwargs Argument

In [61]:
def facebook(**data):
    print(data,type(data))
facebook(name="rahul",eid=100,x="hey")
facebook(name="jatin",y="hello")
facebook()

{'name': 'rahul', 'eid': 100, 'x': 'hey'} <class 'dict'>
{'name': 'jatin', 'y': 'hello'} <class 'dict'>
{} <class 'dict'>